body{
    background-color: #000000;
    font-family: 'Familjen Grotesk', sans-serif;
    margin:0;
padding:0;
overflow-x:hidden;
    
}

a{
    text-decoration: none;
    color: #ffffff;
    display: block;
    padding: 8px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    display: inline;
    float: left;

}

.Logo {
    position: relative;
    top: 25px;
    right: -50px;
    width: 210px;
    height: auto;
}

.Logo img {
    display: block;
    width: 100%;
    height: auto;
}

.Menu{
    position: relative;
    top: -10px;
    right: -315px;
    font-size: 95%;
}

.shop{
    float: right;
    position: relative;
    top: -10px;
    left: -70px;
    font-size: 95%;
}

.hamburger {
width: 25px;
height: 2px;
background-color: #ffffff;
margin: 4px 0;
position: relative;
left: 1300px;
top: -2px;
}

.recent {
    position: relative;
    color: #fffffff8;
    font-size: 25px;
    top: 300px;
    right: -55px;
    font-weight: lighter;
}

.crew {
    position: relative;
    color: #fffffff8;
    font-size: 45px;
    top: 260px;
    right: -55px;
}

#one{
    font-size: 17px;
    color: white;
    border: 2px solid white;
    margin: auto;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: relative;
    top: 240px;
    right: -55px;
    text-align: center;
}

#one:hover,#two:hover,#three:hover,#four:hover{
    color: #000000;
    background-color: #ffffff;
 }


.Picture_1 {
    position: relative;
    background-image: url('image/picture_1.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: -34px;
    width: 100%;
}

.picture_2 {
    position: relative;
    background-image: url('image/picture_2.jpg');
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -35px;
    margin-right: -34px;
    width: 100%;
}

.picture_3 {
    position: relative;
    background-image: url('image/picture_3.jpg');
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -35px;
    margin-right: -34px;
    width: 100%;
}

.picture_4 {
    position: relative;
    background-image: url('image/picture_4.jpg');
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -35px;
    margin-right: -34px;
    width: 100%;
}

.recent4 {
    position: relative;
    color: #fffffff8;
    font-size: 25px;
    top: 350px;
    right: -55px;
    font-weight: lighter;
}

.crew4 {
    position: relative;
    color: #fffffff8;
    font-size: 45px;
    top: 308px;
    right: -55px;
}


#two{
    font-size: 17px;
    color: white;
    border: 2px solid white;
    margin: auto;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: relative;
    top: 290px;
    right: -55px;
    text-align: center;
}

.recent5 {
    position: relative;
    color: #fffffff8;
    font-size: 25px;
    top: 350px;
    right: -55px;
    font-weight: lighter;
    font-size: 53px;
    font-weight: bolder;
}

#two{
    font-size: 17px;
    color: white;
    border: 2px solid white;
    margin: auto;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: relative;
    top: 300px;
    right: -55px;
    text-align: center;
}

#three{
    font-size: 17px;
    color: white;
    border: 2px solid white;
    margin: auto;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: relative;
    top: 340px;
    right: -55px;
    text-align: center;
}

.recent6 {
    position: relative;
    color: #fffffff8;
    font-size: 25px;
    top: 350px;
    right: -55px;
    font-weight: lighter;
    font-size: 43px;
    font-weight: bolder;
}


.picture_5 {
    position: relative;
    background-image: url('image/picture_5.jpg');
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -35px;
    margin-right: -34px;
}

#four{
    font-size: 17px;
    color: white;
    border: 2px solid white;
    margin: auto;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: relative;
    top: 330px;
    right: -55px;
    text-align: center;
}

footer{
    color: #ffffff6b;
    padding: 10px;
    position: relative;
    top: 30px;
    right: -290px;
    margin: auto;
}

.Down{
    position: relative;
    top: -47px;
    right: -110px;
    font-size: 85%;
}
.down:hover{
    color: #ffffffaf;
}

